<div class="bg-primary text-base-100 text-center mx-auto">
    <div class="px-10 pt-32 pb-44">
        <h2 class="text-4xl font-bold">Hi, I'm Daniele. Nice to meet you.</h2>
        <p class="py-6">After 8 years as a web designer I decided to follow my great passion, web development.<br>
            I took my first steps in programming with Actionscript 2.0 back in 2010, with which I developed interactive banners, quizzes and small games.<br>
            In 2019, after launching myself into the startup world, I decide to seriously train on web development, attending a 7-month bootcamp.<br>
            I become passionate about developing with JavaScript and later with the Angular framework, attending a 2-month specialization course.
        </p>
        <p class="mb-3">Do you want to know more?</p>
        <a class="text-base-100 btn btn-outline glass" href="https://www.linkedin.com/in/giuseppepraino/" target="_blank">My Linkedin profile</a>
    </div>
</div>
