<div class="bg-primary text-base-100 text-center mx-auto">
    <div class="px-10 pt-32 pb-44">
        <h2 class="text-4xl font-bold">Ciao, sono Daniele. Piacere di conoscerti.</h2>
        <p class="py-6">Dopo 8 anni come web designer ho deciso di seguire la mia grande passione, lo sviluppo web. <br>
        Ho mosso i primi passi nella programmazione con Actionscript 2.0 nel lontano 2010, con cui sviluppavo banner interattivi, quiz e piccoli giochi. <br>
        Nel 2019, dopo essermi lanciato nel mondo delle startup, decido di formarmi seriamente sullo sviluppo web, frequentando un bootcamp di 7 mesi. <br>
        Mi appassiono allo sviluppo con JavaScript e successivamente con il framework Angular, frequentando un corso di specializzazione di 2 mesi.
        </p>
        <p class="mb-3">Vuoi saperne di più?</p>
        <button class="text-base-100 btn btn-outline glass">Scarica il mio CV</button>
    </div>
</div>
