<div class="card card-normal lg:w-96 h-full bg-base-100 shadow-xl mx-auto">
    <figure><img [src]="work?.online ? work?.img : '/assets/img/works-mockup/offline_mockup.jpg'" [alt]="work?.title" /></figure>
    <div class="card-body">
      <h2 class="card-title">
        {{ work?.title }}
        <ng-container [ngSwitch]="work?.infoBadge">
          <span *ngSwitchCase="'new'" class="badge badge-success">new</span>
          <span *ngSwitchCase="'updated'" class="badge badge-info">updated</span>
          <span *ngSwitchCase="'coming soon'" class="badge badge-warning">coming soon</span>
          <span *ngSwitchDefault></span>
        </ng-container>
      </h2>
      <p class="text-justify">{{ work?.description }}</p>
      <div *ngIf="work?.online" class="card-actions justify-end my-4">
        <ng-container *ngFor="let techBadge of work?.techsBadge">
          <div class="avatar tooltip w-8" [attr.data-tip]="techBadge.name">
              <img [src]="techBadge.img" [alt]="techBadge.name" />
          </div>
        </ng-container>
      </div>
      <div *ngIf="work?.online" class="card-actions justify-between">
        <a [href]="work?.linkGithub" target="_blank">
          <fa-icon [icon]="faGithub" size="2x"></fa-icon>          
        </a>
        <a class="btn btn-sm btn-primary gap-2" [href]="work?.linkWebsite" target="_blank">
          <span>Website</span>
          <fa-icon [icon]="faChevronRight"></fa-icon>         
        </a>
      </div>
    </div>
  </div>
