<footer class="footer footer-center p-10 bg-primary text-primary-content">
    <div>
      <img class="w-20 inline-block fill-current" src="/assets/img/logo-daniele-praino-frontend-dev-footer.svg" alt="Logo Daniele Praino Frontend Developer">
      <p class="font-bold">
        Giuseppe Daniele Praino <br/>Front End Web Developer
      </p> 
      <p>Copyright © 2023 - All right reserved</p>
      <p>Version 1.0.1</p>
    </div> 
    <div>
      <div class="grid grid-flow-col gap-4">
        <a href="https://github.com/danielepraino" target="_blank"><fa-icon [icon]="faSquareGithub" size="2x"></fa-icon></a> 
        <a href="https://www.linkedin.com/in/giuseppepraino/" target="_blank"><fa-icon [icon]="faLinkedin" size="2x"></fa-icon></a>
      </div>
    </div>
  </footer>