<div class="hero min-h-screen">
    <div class="hero-content text-center">
        <div class="mb-40 md:mb-72">
            <h1 class="text-3xl lg:text-5xl font-bold">
                <span class="text-wrapper letters">Front End Web Developer</span>
            </h1>
            <p class="mt-5">Curiosity and continuous training are my two superpowers.</p>
        </div>
    </div>
    <img class="w-fit lg:w-1/3 mx-auto absolute -bottom-36" src="\assets\img\programmer.png" alt="A developer illustration"/>
</div>
