<div class="hero min-h-screen">
    <div class="hero-content text-center">
        <div>
            <h1 class="ml11 text-3xl lg:text-5xl font-bold">
                <span class="text-wrapper">
                    <span class="line line1"></span>
                    <span class="letters">Junior Front End Web Developer</span>
                </span>
            </h1>
            <p class="my-10">Curiosità e formazione continua sono i miei due superpoteri.</p>
            
        </div>
    </div>
    <img class="w-fit lg:w-1/3 mx-auto absolute -bottom-36" src="\assets\img\programmer.png" alt="A developer illustration"/>
</div>
