<nav class="navbar bg-base-100">
    <div class="navbar-start">
      <img class="w-20" src="/assets/img/logo-daniele-praino-frontend-dev.svg" alt="Logo Daniele Praino Frontend Developer">
    </div>
    <div class="navbar-end">
      <a class="btn btn-sm gap-2 mr-4" href="https://github.com/danielepraino" target="_blank"><fa-icon [icon]="faGithub"></fa-icon>Github</a>
      <a class="btn btn-sm btn-primary gap-2" href="https://www.linkedin.com/in/giuseppepraino/" target="_blank"><fa-icon [icon]="faLinkedin"></fa-icon>LinkedIn</a>
    </div>
</nav>