<nav class="navbar bg-base-100">
    <div class="navbar-start">
      <img class="w-14" src="/assets/img/logo-daniele-praino-frontend-dev.svg" alt="Logo Daniele Praino Frontend Developer">
    </div>
    <div class="navbar-end">
      <a class="mr-4" href="https://github.com/danielepraino" target="_blank"><fa-icon [icon]="faSquareGithub" size="2x"></fa-icon></a> 
      <a href="https://www.linkedin.com/in/giuseppepraino/" target="_blank"><fa-icon [icon]="faLinkedin" size="2x"></fa-icon></a>
    </div>
</nav>